# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.rospack_env/

# Python egg / distribution files
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.manifest
*.spec

# ROS bags
*.bag
*.bag.active
*.bag.lock
*.db3

# Output folders
processed_folder/
histograms/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore pip cache
pip-log.txt
pip-delete-this-directory.txt
